
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>STAG Corporation</title>
</head>
<body>
    <div> 
        <h1>Wish you Happy NewYear</h1>
    </div>
</body>
</html>
