
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>STAG Corporation</title>
</head>
<body>
    <div> 
        <h1>Wish you Happy NewYear</h1>
    </div>
    <div>
        <video width="700" controls>
            <source src="http://stagstorage.blob.core.windows.net/media/Video/swathilo_muthyamantha.MP4" type="video/mp4">
            <source src="mov_bbb.ogg" type="video/ogg">
            Your browser does not support HTML5 video.
        </video>
    </div>
</body>
</html>
